/* Reset default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
  left: auto;
  right: auto;
}

/* Set font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Add styles for headings */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ea1010;
}

/* Add styles for paragraphs */
p {
  font-size: 16px;
  color: #300471;
}
